
<div class="content">
  <div class="register">
  	<div id="comment_form">
      <hr>
    <h1>Edit Comment </h1>
    <div class="container-fluid">
      <%= form_for @comment do |f| %>
        <%= f.text_area :content, class: "form-control" %>
        <br>
        <%= f.submit "submit", class: "btn btn-primary pull-right" %>
        <br>
      <% end %>
    </div>
  <hr>
</div>
</div>
</div>