default: &default
  adapter: postgresql
  database: database
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  username: username
  password: password

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
