/*
*= require custom
*= require chosen
*= require font-awesome
*= require commontator/application
*= require bootstrap
*= require _button
*= require _feature
*= require responsive
*= require carousel
*/
