<div id="vote_form">
  <% if user_signed_in? %>
    <% if (current_user.voted_down_on? review) || (!ActsAsVotable::Vote.where(voter_id: current_user,votable_id: review.id).present?) %>
      <%= link_to review_votes_path(review), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart-empty"></span>
      <% end %>
    <% else %>
      <%= link_to review_vote_path(review,0), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart"></span>
      <% end %>
    <% end %>
  <% end %>
  <%= review.get_upvotes.size %>
</div>
